.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.name{
    display: flex;
    justify-content: space-between;
    line-height: 2px;
    width: 85%;
}

.name p{
    background-color: #BEE3CC;
    color:black;
    padding: 10px;
    border-radius: 5px;
}

img{
    border-radius: 10px;
    line-height: 2px;
}
.card{
    width:24%;
    line-height: 2px;
    margin-bottom: 20px;
}

.fa-star{
    color:rgb(192, 192, 11);
}